rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to access their transactions
    match /transactions/{document} {
      allow read, write, create, delete: if request.auth != null;
    }
  }
}